h1{
    text-align: center;
    
}
h2{
    border: 5px solid rgb(163, 187, 230);
    padding: 10px 20px;
    display: inline-block;
    font-family: monospace;


}
img{
   
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
